<main>
    <h1>{{title}}</h1>
    
    <h2>All Recipes</h2>
    <ul>
        {{#each users}}
            <li>{{name}} by {{author_id}}</li>
        {{/each}}
    </ul>
    
    <h2>Latest Recipes</h2>
    <ul>
        {{#each latestRecipes}}
            <li>{{name}} by {{author_id}}</li>
        {{/each}}
    </ul>
    
    <h2>Add Recipe</h2>
    <form action="/recipes" method="POST">
        <label for="authorIdInput">Author ID:</label>
        <input type="text" name="authorIdInput" id="authorIdInput">
        <br>
        <label for="nameInput">Name:</label>
        <input type="text" name="nameInput" id="nameInput">
        <br>
        <label for="contentInput">Content:</label>
        <textarea name="contentInput" id="contentInput"></textarea>
        <br>
        <input type="submit" value="Add Recipe">
    </form>
    
    <h2>Edit Recipe</h2>
    <form action="/recipes/{{recipeId}}" method="PUT">
        <label for="authorIdInput">Author ID:</label>
        <input type="text" name="authorIdInput" id="authorIdInput">
        <br>
        <label for="nameInput">Name:</label>
        <input type="text" name="nameInput" id="nameInput">
        <br>
        <label for="contentInput">Content:</label>
        <textarea name="contentInput" id="contentInput"></textarea>
        <br>
        <input type="submit" value="Edit Recipe">
    </form>
    
    <h2>Delete Recipe</h2>
    <form action="/recipes/{{recipeId}}" method="DELETE">
        <input type="submit" value="Delete Recipe">
    </form>
    
    <h2>Restrictions for Recipe</h2>
    <ul>
        {{#each restrictions}}
            <li>{{name}}</li>
        {{/each}}
    </ul>
    
    <h2>Filter Recipes</h2>
    <form action="/recipes/filter" method="POST">
        <label for="restrNameInputs">Restrictions:</label>
        <input type="text" name="restrNameInputs" id="restrNameInputs">
        <br>
        <input type="submit" value="Filter Recipes">
    </form>
</main>